body {
  background-color: mistyrose;
}
.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  
}
.one {
  width: 500px;
  padding-left: 1rem;
  h1 {
    color: white;
  }
}
.two {
  width: 500px;
  height: 100px;
}