body {
  background-color: mistyrose;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: orange;
}
.one {
  border: 1px solid black;
  padding-left: 1rem;
  h1 {
    color: white;
  }
}